1. <header></header>    : Xác định tiêu đề cho tài liệu hoặc phần
2. <nav></nav>          : Xác định một container cho các liên kết điều hướng
3. <section></section>  : Xác định một phần trong tài liệu
4. <article></article>  : Xác định một bài viết độc lập
5. <aside></aside>      : Xác định nội dung ngoài nội dung (như thanh bên). 
6. <footer></footer>    : Xác định chân trang cho tài liệu hoặc phần. 
7. <details></details>  : Xác định chi tiết bổ sung
8. <sumary></sumary>    : Xác định tiêu đề cho phần tử <details></details>